.pageTitleContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 600px;
}

.listContainer > div:last-child {
  border-bottom: none;
}
