.backBtnContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}

.backBtnText {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #2967ff;
}

.productContainer {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

.productName {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #2d2d2f;
}

.detailInfoContainer {
  display: flex;
  column-gap: 20px;
  margin-top: 30px;
}

.carouselContainer {
  width: 448px;
}

.infoContainer {
  width: 478px;
  height: min-content;
  border-radius: 20px;
  background-color: #f0f4fb;
  padding: 20px;
}

.mySwiper {
  height: 448px;
  width: 448px;
}

.mySwiper :global(.swiper-slide img) {
  height: 448px;
  width: 448px;
  object-fit: contain;
}

.mySwiper2 {
  height: 100px;
  box-sizing: border-box;
  padding: 8px 0;
}

.mySwiper2 :global(.swiper-slide) {
  margin-right: 2px;
}

.mySwiper2 :global(.swiper-slide img) {
  width: 80px;
  height: 80px;
  opacity: 0.6;
  cursor: pointer;
  object-fit: contain;
}

.mySwiper2 :global(.swiper-slide-thumb-active img) {
  opacity: 1;
}

.priceContainer {
  display: flex;
  align-items: flex-end;
  color: #2d2d2f;
}

.price {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
}

.priceText {
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;
}

.btnContainer {
  margin-top: 16px;
  width: 100%;
}

.productPropertiesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  white-space: pre;
  row-gap: 2px;
}

.productVariationsSelector {
  display: flex;
  column-gap: 16px;
  margin-top: 16px;
}

.productVariation {
  padding: 8px 10px;
  border-radius: 50px;
  border: 1px solid #cecece;
  color: #cecece;
  cursor: pointer;
}

.productVariationActive {
  border: 1px solid #2967ff;
  color: #2967ff;
}

.chartController > div {
  padding: 26px;
}

@media screen and (max-width: 768px) {
  .productContainer {
    margin-top: 22px;
  }

  .productName {
    font-size: 24px;
    line-height: unset;
    color: #2d2d2f;
  }

  .detailInfoContainer {
    flex-direction: column;
  }

  .carouselContainer {
    width: 100%;
  }

  .infoContainer {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0px 40px;
  }
}
