.countContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aec2ea;
  border-radius: 35px;
  height: 41px;
  padding: 12px;
  box-sizing: border-box;
}

.count {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 22px;
  color: #2d2d2f;
  cursor: default;
  padding: 0px 26px;
}

.iconContainer {
  display: flex;
  cursor: pointer;
}
